.lead {
    max-width: 984px;
    margin: 0 auto;
    text-align: center;
}

.lead__title {
    max-width: 720px;
    margin: 0 auto 32px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
}

.lead__subtitle {
    max-width: 640px;
    margin: 0 auto 64px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.lead__figure {
    margin: 0;
}

.lead__image {
    width: 100%;
    margin-bottom: 8px;
}

.lead__caption {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }

    .lead__title {
        max-width: 288px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle {
        max-width: 288px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
    }
} 